<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>фотограф Михаил Гаганов</title>

	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
	<meta name="author" content="Michail Gaganov" />
	<meta name="keywords" content="фото, свадебное фото, рекламное фото" />
	<meta name="description" content="свадебное фото, пейзажи Крыма" />
	<meta name="robots" content="index, follow, noarchive" />
	<meta name="googlebot" content="noarchive" />

        <%= javascript_include_tag  "jquery-1.2.6.pack.js" %>
        <%= javascript_include_tag  "jrails.js" %>
        <%= javascript_include_tag  "own.js" %>

	<%= stylesheet_link_tag  "master" %>


</head>

<body>

<%= yield :layout %>

</body>

</html>
